* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    background-color: rgb(242, 187, 174);
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main-container{
    background-color: rgba(255, 228, 196, 0.601);
    width:450px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(226, 153, 135) ;
}

form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
} 
input{
    width: 400px;
    height: 30px;
}
button{
    height: 30px;
    width: 100px;
    margin-top: 10px;
}