* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    align-items: center;
    text-align: center;
    /* width: 130px; */
    /* border-bottom: 2px solid red;  */
}
label{
    font-size: 20px;
}

body {
    display: flex;
    background-color: rgb(242, 187, 174);
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main-container{
    background-color: rgba(255, 228, 196, 0.601);
    width:450px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(226, 153, 135) ;
}

form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
} 
input{
    width: 400px;
    height: 30px;
    border: none; 
}
input:hover{
    border: 2px solid rgb(220, 151, 151);
}
button{
    font-size: 15px;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.6s linear;
    border: none;
}

button:hover{
    background-color: rgba(222, 184, 135, 0.507);
}