* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    background-color: rgb(197, 214, 228);
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main-container{
    background-color: bisque;
    width:450px;
    border-radius: 20px;
}

form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
} 
input{
    width: 400px;
    height: 30px;
}
button{
    height: 30px;
    width: 100px;
    margin-top: 10px;
}